Source: kaidan
Section: comm
Priority: optional
Maintainer: Kaidan Packaging Team <git@lnj.li>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules (>= 5.40.0),
               kirigami2-dev (>= 5.42.0),
               libqt5svg5-dev,
               libqxmpp-dev (>= 0.9.0),
               pkg-config,
               qtbase5-dev (>= 5.8.0),
               qtdeclarative5-dev (>= 5.8.0),
               qtdeclarative5-dev-tools,
               qtquickcontrols2-5-dev,
               qttools5-dev
Standards-Version: 4.3.0
Homepage: https://kaidan.im
Vcs-Git: git://git.kaidan.im/kaidan/kaidan-packaging-deb.git
Vcs-Browser: https://git.kaidan.im/kaidan/kaidan-packaging-deb

Package: kaidan
Architecture: any
Depends: kaidan-data,
         qml-module-org-kde-kirigami2,
         qml-module-qtquick-controls2,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: libnotify-bin
Description: A simple, user-friendly Jabber/XMPP client for every device
 It has a modern user-interface made using Kirigami and QtQuick. The back-end
 is completely written in C++ using the XMPP client libraray gloox and Qt 5.
 .
 One of the main ideas behind it is to run the same application on all
 platforms, including mobile and desktop systems. So it even runs on Android.
 .
 Currently there are still many features not implemented, so don't expect it
 to work as a finished client will do.

Package: kaidan-data
Architecture: all
Depends: ${misc:Depends}
Description: A simple, user-friendly Jabber/XMPP client for every device
 It has a modern user-interface made using Kirigami and QtQuick. The back-end
 is completely written in C++ using the XMPP client libraray gloox and Qt 5.
 .
 One of the main ideas behind it is to run the same application on all
 platforms, including mobile and desktop systems. So it even runs on Android.
 .
 Currently there are still many features not implemented, so don't expect it
 to work as a finished client will do.
 .
 This package contains architecture independent files.
