Source: kaidan
Section: comm
Priority: optional
Maintainer: Kaidan Packaging Team <gamerbude@lnj.li>
Build-Depends: debhelper (>= 9),
               zlib1g-dev,
               libgloox-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               qtbase5-dev,
               qtquickcontrols2-5-dev,
               kirigami2-dev,
               cmake,
               extra-cmake-modules (>= 5.40.0)
Standards-Version: 4.1.1
Homepage: https://github.com/kaidanim/kaidan/
Vcs-Git: git://github.com/kaidanim/packaging_deb.git
Vcs-Browser: https://github.com/kaidanim/packaging_deb/

Package: kaidan
Architecture: any
Depends: libnotify-bin,
         qml-module-qtquick-controls2,
         qml-module-org-kde-kirigami2,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Simple, user-friendly Jabber/XMPP client for every device
 It's providing a modern user-interface using Kirigami and QtQuick. The
 back-end of Kaidan is completely written in C++ using the gloox XMPP Library
 and Qt 5. As gloox, Kaidan is released
 under the GPL (Version 3 or later).
 .
 Kaidan is not finished: Don't expect it to work as well as a finished
 messenger will.
