Source: kaidan
Section: comm
Priority: optional
Maintainer: Kaidan Packaging Team <gamerbude@lnj.li>
Build-Depends: debhelper (>= 9),
               zlib1g-dev,
               libglib2.0-dev,
               libssl-dev,
               libxml2-dev,
               libcrypto++-dev,
               libpthread-stubs0-dev,
               libidn11-dev,
               libminiupnpc-dev,
               libnatpmp-dev,
               libswiften-dev,
               libboost-signals-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               cmake
Standards-Version: 3.9.8
Homepage: https://github.com/kaidanim/kaidan/
Vcs-Git: git://github.com/kaidanim/kaidan.git
Vcs-Browser: https://github.com/kaidanim/kaidan/

Package: kaidan
Architecture: any
Depends: libqt5quick5,
         libqt5quickcontrols2-5,
         libqt5quickwidgets5,
         libqt5quickwidgets5,
         libqt5network5,
         libqt5gui5,
         libqt5core5a,
         libswiften3,
         libboost-signals1.63.0,
         qml-module-qtquick-controls2,
         qml-module-org-kde-kirigami,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Simple, user-friendly Jabber/XMPP client for every device
 It's providing a modern user-interface using Kirigami and QtQuick. The
 back-end of Kaidan is completely written in C++ using the Swiften Library
 of the Swift Instant Messenger and Qt 5. As Swiften, Kaidan is released
 under the GPL (Version 3 or later).
 .
 Kaidan is not finished: Don't expect it to work as well as a finished
 messenger will.
